p {
    color: white;
    font-size: 1.1rem;
}

.country-section {
    /* max-width: 67rem; */
    padding-top: 3rem;
    width: 100%;
    margin: auto;
    /* margin-left: 7rem; */

    /* & .about-main-title {
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 5rem;
    } */

    & .cards {
        gap: 2.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        & .card {
            padding: 1.5rem;
            max-width: 20rem;
            width: 100%;
            position: relative;
            border: 2px solid transparent;
            background: linear-gradient(145deg, #1e213a, #2e325a);
            color: #ffffff;
            /*Keeptextwhiteforclarity*/
            border-radius: 1.5rem;
            -webkit-border-radius: 1.5rem;
            -moz-border-radius: 1.5rem;
            -ms-border-radius: 1.5rem;
            -o-border-radius: 1.5rem;
            background-clip: padding-box;
            cursor: pointer;
            transform-style: preserve-3d;
            transition: transform 0.4s;

            /*transition: all 0.3s linear;
            -webkit-transition: all 0.3s linear;
            -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
            -o-transition: all 0.3s linear;
            
            */
            & figure {
                & img {
                    width: 100%;
                    aspect-ratio: 1.5;
                }
            }

            &:hover {

                animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0s 1 normal both;
                -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) 0s 1 normal both;
            }

            & .card-title {
                font-weight: 600;
                color: white;
                letter-spacing: -0.02em;
                line-height: 40px;
                font-style: normal;
                padding-bottom: 8px;
                font-size: 1.5rem;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;

            }

            & .card-description {
                font-weight: 600;
                line-height: 32px;
                color: rgba(255, 255, 255, 0.5);
                font-size: 16px;
                max-width: 470px;


            }

            & button {
                border: 2px solid silver;
                padding: 0.6rem;
                border-radius: 10px;
                color: white;
                background-color: transparent;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;


                &:hover {
                    background-color: white;
                    color: black;
                    border: none;
                }
            }
        }
    }
}

a
/* .bg-green-box,
.bg-white-box,
.bg-yellow-box,
.bg-blue-box {
    position: relative;
} */

.bg-green-box::after,
.bg-white-box::after,
.bg-yellow-box::after,
.bg-blue-box::after {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    content: "";
    z-index: -1;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}

.bg-green-box::after {
    background: linear-gradient(71deg, #0d1212, #3da077, #0d1212);
}

.bg-white-box::after {
    background: linear-gradient(71deg, #121013, #b0afb0, #121013);
}

.bg-yellow-box::after {
    background: linear-gradient(71deg, #110e0e, #afa220, #110e0e);
}

.bg-blue-box::after {
    background: linear-gradient(71deg, #0c0a0e, #5f6fad, #0c0a0e);
}

.search-filter {
    padding: 3.5rem;
}

.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;

   

    & input {
        background-color: transparent;

        &::placeholder {
            color: aliceblue;
        }

    }

    & select {
        background-color: transparent;
        color: aliceblue;
        width: 10%;
        cursor: pointer;

        &::placeholder {
            color: #0c0a0e;
        }

    }

}

/* CARD FLIP ANIMATION: */
/* ----------------------------------------------
* Generated by Gradienty on 2025-06-07 06:21
* animation flip-vertical-right-normal
* ----------------------------------------
*/

@keyframes flip-vertical-right {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
}

/* COUNTRY PAGE RENSPONSIVENESS STYLING: */
@media screen and (max-width:768px) {
    .main-div {
        flex-direction: column;
        gap: 2.2rem;

        & div {
            & select {
                width: 50%;
            }
        }
    }
}