button {
    background-color: transparent;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid gray;
    cursor: pointer;
}